* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.background {
    overflow: hidden;
    width: 100vw;
    min-height: 100vh;
    filter: blur(1px);
    animation: sky 20s cubic-bezier(0.67, 0.01, 0.29, 0.99) none infinite alternate
}

.background b {
    position: absolute;
    top: -80px;
    font-size: 50px;
    animation: rain linear infinite;
}

@keyframes sky {
    from {
        background-color: #ffffff;
    }
    to {
        background-color: #252833;
    }
}

@keyframes rain {
    to {
        transform: translateY(calc(100vh + 160px)) rotate(360deg)
    }
}

@keyframes rain_2 {
    to {
        transform: translateY(calc(100vh + 160px)) rotate(-360deg)
    }
}

.container {
    z-index: 1;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: transparent;
    padding: 12px;
}

.card {
    display: flex;
    background-color: #fafafa;
    border-radius: 8px;
    box-shadow: 1px 5px 19px 3px #2e2e2e;
    flex-flow: column;
}

.card-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #e2e2e2;
}

.card-header, .card-body {
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.card-header a {
    display: block;
    position: relative;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    overflow: hidden;
    outline: 3px solid rgb(122, 130, 143);
    margin-bottom: 8px;
}

.card-header a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-header h2 {
    white-space: nowrap;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
}

.card-header h4 {
    font-size: 18px;
    color: #2e2e2e;
}

.card-header h2, .card-header h4 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 8px;
}

.card-body {
    display: flex;
    align-items: center;
}

.card-body .desc {
    display: flex;
    gap: 6px;
    flex-flow: column;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.desc h1 {
    margin-bottom: 14px;
    color: #2e2e2e;
}

.social {
    display: flex;
    flex-direction: row;
    gap: 2px;
    justify-content: center;
}

.social a {
    display: inline-flex;
    align-items: center;
    gap: 3px;
    text-decoration: none;
    color: #234d30;
    border: 2px solid #b0ccbb;
    font-size: 18px;
    margin: 8px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #b0ccbb;
    padding: 6px;
    border-radius: 8px;
    font-weight: 600;
    transition: .3s;
}

.social a:hover {
    background-color: #dfeee5;
    border: 2px solid #b0ccbb;
}

@media screen and (min-width: 500px) {
    .card {
        flex-flow: row;
    }
    .card-header {
        border-bottom: none;
        border-right: 1px solid #e2e2e2;
    }
}